- name: Installing stow
  become: true
  ansible.builtin.apt:
    name: [ "stow" ]

- name: Cloning dotfiles
  ansible.builtin.git:
    repo: https://github.com/tbriot/dotfiles.git
    dest:  "{{ clone_dir }}"
    update: true
    accept_hostkey: true
    #version: main 
    version: feat-revisit-config-nov25

- name: Installing dotfiles
  ansible.builtin.shell:   "cd {{ clone_dir }} && ./install.sh"

- name: Making sure .gitconfig is absent
  ansible.builtin.file:
    path: ~/.gitconfig
    state: absent
