- name: Install prerequisites packages
  become: true
  ansible.builtin.apt:
    name: [ "gnupg", "software-properties-common", "curl", "gzip", "unzip", "git", "python3-pip", "tar", "xclip", "libssl-dev" ]
    
