- name: Install TFSwitch from master branch
  ansible.builtin.shell: >
    curl -L https://raw.githubusercontent.com/warrensbox/terraform-switcher/master/install.sh 
    | bash -s -- -b {{ tfswitch_install_dir }}

- name: Install Terraform latest version
  ansible.builtin.shell: |
    export PATH="{{ tfswitch_install_dir }}:$PATH"
    tfswitch -b {{ tfswitch_install_dir }}/terraform --latest

- name: Install terraform-docs # https://github.com/terraform-docs/terraform-docs
  ansible.builtin.shell: |
    export PATH="/usr/local/go/bin:$PATH"
    go install github.com/terraform-docs/terraform-docs@{{ terraform_docs_version }}
